.authorised-apps {
  margin-bottom: 45px;
  &__title {
    //@include h2;
  }
}

.app__list {
  @include reset-list;
}

.app__item {
  margin-bottom: 10px;
  background-color: $light_grey;
  display: table;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}

.app__title {
  width: 65%;
  padding: 18px;
  @include font-size($paragraph_font_size);
  color: #444;
  line-height: 1.2;
  display: table-cell;
  min-height: 70px;
  vertical-align: middle;
}

.app__remove {
  height: 100%;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}