.authorise-text {
  margin-bottom: 30px;
  &__description {
    @include font-size($paragraph_font_size);
    &:last-child {
      margin-bottom: 0;
    }
    &--allowed {
      color: $dark_cyan;
      font-weight: bold;
    }
    &--disallowed {
      color: $dark_pink;
      font-weight: bold;
    }
  }
  &__list {
    @include reset-list();
  }
  &__item {
    margin-bottom: 15px;
    @include font-size($paragraph_font_size);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    margin-right: 8px;
    &--allowed {
      color: $dark_cyan;
    }
    &--disallowed {
      color: $dark_pink;
    }
  }
}

.authorise-terms {
  //border-top: 1px solid $light_grey;
  padding-top: 30px;
}
.authorise-terms__link {
  color: $dark_cyan;
}