@keyframes wobble {
  0%, 100% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(5px);
  }
}

.card-preview {
  margin-bottom: 45px;
  perspective: 1000px;
}

.card {
  $card_guttering: 25px;
  background-color: $white;
  max-width: 480px;
  min-height: 270px;
  padding: $card_guttering;
  border: 1px solid $light_grey;
  transition: box-shadow 200ms linear, transform 200ms linear;
  &:hover {
    transform: rotateX(-5deg) translateZ(30px);
    box-shadow: 0 -6px 20px 0 rgba(#000, 0.15);
    //animation: wobble 2s ease-in-out infinite;
  }

  &__row {
    @include clearfix;
    &:not(:last-child) {
      padding-bottom: $card_guttering;
    }
    &--bottom-border {
      &:not(:last-child) {
        margin-bottom: $card_guttering;
        border-bottom: 1px solid $light_grey;
      }
    }
  }
  &__heading {
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__name {
    margin-bottom: 2px;
    @include font-size(18px);
    color: $dark_cyan;
    font-weight: bold;
    line-height: 1.2;
    @include width-from($smallish_device) {
      @include font-size(20px);
    }
  }
  &__display-name {
    @include font-size(16px);
    color: rgba($dark_cyan, 0.75);
    font-weight: normal;
    line-height: 1.3;
    @include width-from($smallish_device) {
      @include font-size(18px);
    }
  }
  &__description {
    font-family: $serif_font_family;
    p {
      @include font-size(16px);
      line-height: 1.35;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__details {
    margin-right: 100px;
    @include width-from($smallish_device) {
      margin-right: 180px;
    }
  }

  // photo area

  &__photo {
    position: relative;
    float: right;
  }
  &__image {
    @include circle(75px);
    background: lighten($light_grey, 5%);
    border: 1px solid $light_grey;
    @include width-from($smallish_device) {
      @include circle(150px);
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: inherit;
    }
  }
  &__photo-button {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  // Items for list values

  &__items {
    margin-top: 0;
    margin-bottom: 0;
    &-key {
      margin-bottom: 2px;
      color: $dark_cyan;
      text-transform: uppercase;
      line-height: 1.2;
      @include font-size(12px);
    }
    &-value {
      margin-left: 0;
      margin-bottom: 16px;
      @include font-size(14px);
      line-height: 1.2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
