.flash-message {
  padding: 16px;
  margin-bottom: 32px;
  &--success {
    background-color: #ceedea;
  }
  &--fail {
    background-color: $light_pink;
  }
  .flash-message__title {
    margin-top: 0;
    margin-bottom: 0.25rem;
    white-space: pre-line;
    font-weight: bold;
    &:last-child {
      margin-bottom: 0;
    }
  }
}