$flash-message--border-radius: 3px;

.flash-message {
  position: relative;
  padding: 16px 16px 16px 38px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: $flash-message--border-radius;
  &:before {
    display: block;
    position: absolute;
    top: 18px;
    left: 14px;
    font-family: 'FontAwesome';
  }
  &--small-bottom-margin {
    margin-bottom: 1rem;
  }
  &--success {
    background-color: $success_color;
    border: 1px solid darken($success_color,20%);
    //color: #13423E;
    color: darken($success_color,65%);
    &:before {
      content: '\f058';
    }
  }
  &--fail {
    background-color: $error_color;
    border: 1px solid darken($error_color,8%);
    color: darken($error_color,75%);
    &:before {
      content: '\f06a';
    }
  }
  &--no-round-bottom {
    border-radius: $flash-message--border-radius $flash-message--border-radius 0 0;
  }
  .flash-message__title {
    margin-top: 0;
    margin-bottom: 0.25rem;
    line-height: 1.2;
    white-space: pre-line;
    font-weight: bold;
    @include font-size(17px);
    &--not-bold {
      font-weight: normal;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}