$tab_bg_color: transparent !default;
$tab_bg_color_active: transparent !default;
$tab_color_active: $dark_cyan !default;
$tab_link_bg_colour_hover: rgba($white, 0.5) !default;
$tab_link_colour: $darker_grey;
$tab_link_colour_hover: $medium_cyan !default;


.header-nav {
  @include clearfix;
  position: relative;
  z-index: 1;
  max-width: $max_site_width;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  @include  width-from($medium_device) {
    @include vertical-middle-me;
    right: 0;
    text-align: right;
  }

  &__link {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    @include font-size(13px);
    color: $tab_link_colour;
    transition: color 250ms ease;
    &:hover {
      cursor: pointer;
      color: $tab_link_colour_hover;
    }
  }
}