$header_background_color: $light_grey !default;
$header_logo_image_path: 'logo.svg' !default;
$header--height: 110px;

.header {
  @include clearfix;
  min-height: $header--height;
  margin-bottom: 40px;
  background-color: $header_background_color;

  &__inner {
    position: relative;
    min-height: $header--height;
    padding-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }

  &__logo {
    height: 50px;
    margin-bottom: 0;
    background: image-url($header_logo_image_path) no-repeat 0 0;
    background-size: contain;
    @include width-from($medium_device) {
      width: 50%;
      float: left;
    }
  }
}

