.header {
  @include clearfix;
  min-height: 120px;
  margin-bottom: 40px;
  background-color: $light_grey;

  &__inner {
    position: relative;
    min-height: 120px;
    padding-top: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }

  &__logo {
    height: 50px;
    margin-bottom: 15px;
    background: image-url('logo.svg') no-repeat 50% 0;
    background-size: 220px auto;
    @include width-from($medium_device) {
      width: 50%;
      float: left;
      margin-bottom: 0;
      background-position: 0 0;
    }
  }
}

