$tab_bg_color: transparent !default;
$tab_bg_color_active: transparent !default;
$tab_color_active: $dark_cyan !default;
$tab_link_bg_colour_hover: rgba($white, 0.5) !default;
$tab_link_colour: $darker_grey;
$tab_link_colour_hover: $medium_cyan !default;


.header-nav {
  @include clearfix;
  position: relative;
  z-index: 1;
  max-width: $max_site_width;
  margin: 0 auto;
  list-style: none;
  text-align: center;

  @include  width-from($medium_device) {
    @include vertical-middle-me;
    right: 0;
    text-align: right;
  }

  &__item {
    position: relative;
    z-index: 10;
    display: inline-block;
    //float: left;
    margin-right: -6px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    color: $tab_link_colour;
    &--active {
      color: $tab_link_colour_hover;
      background-color: $tab_bg_color_active;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid white;
      }
      a {
        pointer-events: none;
      }
    }
  }
  &__link {
    display: block;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: inherit;
    transition: background 250ms ease, color 250ms ease;
    &:hover {
      cursor: pointer;
      color: $tab_link_colour_hover;
    }
  }
}