.search-row {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__input {
    width: 100%;
    @include font-size($input_font_size);
    padding: 0 1.5rem 0.75rem 1.5rem;
    background: transparent;
    color: $dark_cyan;
    border: none;
    border-bottom: 2px solid $light_grey;
    &:focus {
      outline: 0;
      border-color: $medium_cyan;
      color: $dark_cyan;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: $dark_cyan;
    }
  }
}
