.tabs {
  @include clearfix;
  position: relative;
  z-index: 1;
  max-width: $medium_device;
  margin: 0 auto;
  list-style: none;
  //text-align: center;
  &__item {
    position: relative;
    z-index: 10;
    display: inline-block;
    float: left;
    margin-right: -1px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    color: $medium_grey;
    &:hover {
      $my_grey: lighten($light_grey, 2.5%);
    }
    &--on {
      color: $dark_cyan;
      background-color: $white;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid white;
      }
      a {
        pointer-events: none;
      }
    }
  }
  &__link {
    display: block;
    height: 60px;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    color: inherit;
    &:hover {
      cursor: pointer;
      color: $medium_cyan;
      background-color: rgba($white, 0.5);
    }
  }
}