.user-list {
  @include reset-list;
}

.user-item {
  position: relative;
  display: table;
  width: 100%;
  min-height: $button--height;
  margin-bottom: 0.75rem;
  padding: 1rem 75px 1rem 1rem;
  background-color: $light_grey;
  &__text {
    display: table-cell;
    vertical-align: middle;
  }
  &__name {
    color: $dark_grey;
    @include font-size($paragraph_font_size);
    line-height: 1.3;
  }
  &__email-address {
    color: $medium_grey;
    word-break: break-all;
    @include font-size(12px);
    &__icon {
      //color: red;
      padding-right: 0.2rem;
    }
  }
  &__action-list {
    @include clearfix;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__toggle-trust {
    height: $button--height;
    padding-top: 21px;
    padding-right: 1rem;
    float: left;
  }
  &__trust-button {
    display: inline-block;
    @include circle(22px);
    @include ellipsis;
    float: left;
    margin-top: 21px;
    margin-right: 1rem;
    margin-left: -0.25rem;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $dark_cyan;
    @include font-size(14px);
    color: white;
    text-align: center;
    border: 0;
    transition: background 250ms ease, color 250ms ease, box-shadow 250ms ease, transform 250ms ease;
    outline: 0;
    &:focus, &:hover {
      background-color: lighten($dark_cyan, 1%);
      box-shadow: 0 19px 60px -10px rgba(0,0,0,.35);
      transform: translateY(-2px);
    }
    &:active {
      background-color: darken($dark_cyan, 5%);
      outline: 0;
    }
  }
  &__button {
    &:hover {
      background-color: $white;
    }
    &--approved {
      color: $dark_cyan;
    }
    &--unapproved {
      color: $medium_grey;
    }
  }
}
