.user-list {
  @include reset-list;
}

.user-item {
  position: relative;
  min-height: $button--height;
  margin-bottom: 0.75rem;
  padding: 18px;
  background-color: $light_grey;
  &__text {
    @include vertical-middle-me;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      background-color: $white;
    }
    &--approved {
      color: $medium_grey;
    }
    &--unapproved {
      color: $dark_cyan;
    }
  }
}
