.verify-email-address {
  margin-bottom: 2rem;
  &__content {
    margin-top: -2rem;
    padding: 1.5rem;
    border: 2px solid $error_color;
  }
}

.verify__title {
  margin-top: 0;
  @include font-size(20px);
  font-weight: bold;
  line-height: 1.2;
  color: $default_text_color;
}