.verify-email-address {
  margin-bottom: 2rem;
  &__content {
    margin-top: -2rem;
    padding: 1.5rem;
    border: 1px solid darken($error_color,8%);
    border-top: 0;
    border-radius: 0 0 3px 3px;
    background-color: lighten($error_color,10%);
  }
}

.verify__title {
  margin-top: 0;
  @include font-size(20px);
  font-weight: bold;
  line-height: 1.2;
  color: $default_text_color;
}