@mixin clearfix {
  zoom:1;
  &:before,
  &:after{
    display:table;
    content:"";
  }
  &:after{
    clear:both;
  }
}

@mixin min-height($height) {
  min-height: $height;
  height: auto !important;
  height: $height;
}

@mixin size($width,$height:$width) {
  width: $width;
  height: $height;
}

@mixin vertical-middle-me() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin middle-me() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}