@mixin font-face($family, $filename) {
  @font-face {
    font-family: '#{$family}';
    src: url('fonts/#{$filename}.woff2') format('woff2'),
    url('fonts/#{$filename}.woff') format('woff'),
    url('fonts/#{$filename}.ttf') format('truetype');
    @content;
  }
}

@mixin sentenceCase() {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

@mixin no-select() {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hide-icon-text() {
  text-indent: -9999px;
  i {
    text-indent: 0;
  }
}

// Visually Hidden
@mixin visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.visuallyhidden {
  @include visuallyhidden;
}
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
@function calc-rem($size, $base-font-size: 16) {
  $remSize: strip-units($size) / $base-font-size;
  @return #{$remSize}rem;
}
@mixin font-size($size: 16px) {
  font-size: $size;
  font-size: calc-rem($size);
}
@mixin line-height($line: 15px) {
  line-height: $line;
  line-height: calc-rem($line);
}
@mixin font($size, $line_height, $family, $weight: null) {
  font: $weight #{$size/$line_height} $family;
}



@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}


@mixin reset-list() {
  list-style-type: none;
  padding-left: 0;
}