/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
.idea
public
node_modules
npm-debug.log
*.iml
*.swp
*/.vagrant/*
ops/roles/nginx/files/secure**
/test-tmp
.dir-locals.el
.cljs_rhino_repl
