.skip-link {
  padding: 1em;
  position: absolute;
  top: -60px;
  left: 1em;
  z-index: 1000;
  color: $darker_grey;
  transition: top 250ms ease-in-out;
  &:focus {
    top: 1em;
    background: #fff;
  }
  &:hover {
    outline: auto 5px -webkit-focus-ring-color;
  }
}
.main-content {
  max-width: $large_device;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.max-medium {
  max-width: $medium_device;
}
.middle-container {
  padding: 0 1rem;
  margin: 0 auto 3rem auto;
  max-width: $large_device;
  &--max-medium {
    max-width: $medium_device;
  }
}
