.button {
  appearance: none;
  width: 100%;
  border: none;
  padding: 1.5rem;
  @include font-size(20px);
  display: block;
  text-align: left;
  background-color: $medium_cyan;
  color: $white;
  font-weight: bold;
  &:hover {
    background-color: darken($medium_cyan,3%);
  }
  &:focus {
    outline: 3px solid #ffbf47;
  }
}
