.button {
  display: inline-block;
  appearance: none;
  height: 70px;
  line-height: 1.2;
  border: none;
  padding: 24px;
  @include font-size(20px);
  text-align: left;
  background-color: $dark_cyan;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  transition: background 250ms ease, color 250ms ease, box-shadow 250ms ease, transform 250ms ease;
  outline: 0;
  white-space: nowrap;
  @include no-select;
  transform-style: preserve-3d; // Fix safari text flicker (children need backface-visibility: hidden;)
  &:focus, &:hover {
    background-color: lighten($dark_cyan, 1%);
    box-shadow: 0 19px 60px -10px rgba(0,0,0,.35);
    transform: translateY(-2px);
  }
  &:active {
    background-color: darken($dark_cyan, 5%);
    outline: 0;
  }

  // make it so
  &--half-width {
    width: 50%;
  }

  // make it so
  &--full-width {
    width: 100%;
  }

  // secondary action
  &--secondary {
    background-color: $light_grey;
    color: $dark_grey;
    &:hover {
      background-color: lighten($light_grey, 2%);
    }
    &:focus {
      background-color: darken($light_grey, 5%);
    }
  }

  // used for delete buttons
  &--remove {
    background-color: $dark_pink;
    color: $white;
    &:hover {
      background-color: lighten($dark_pink, 2%);
    }
    &:focus {
      background-color: darken($dark_pink, 5%);
    }
  }
}

.button__icon {
  display: block;
  backface-visibility: hidden; // Fix safari text flicker (parent needs transform-style: preserve-3d)
  @include width-from($smallish_device) {
    display: none;
  }
}

.button__text {
  display: none;
  backface-visibility: hidden; // Fix safari text flicker (parent needs transform-style: preserve-3d)
  @include width-from($smallish_device) {
    display: block;
  }
}
