label {
  cursor: pointer;
}

input {
  border-radius: 0;
}

.validation-summary {
  display: none;
  margin-bottom: 2rem;
  &--show {
    display: block;
  }
  &__list {
    @include reset-list;
    background-color: $error_color;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0;
    padding: 1rem;
    border: 1px solid darken($error_color,8%);
    border-radius: 3px;
  }
  &__item {
    position: relative;
    margin-bottom: 4px;
    padding-left: 30px;
    color: $error_color--dark;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: "\f06a";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-family: FontAwesome;
    }
  }
}

fieldset {
  position: relative;
  border: 0;
  padding: 0;
}
legend {
}

.form-row {
  position: relative;
  //max-width: $smallish_device;
  margin-bottom: 1.25rem;
  color: #5d5d5d;
  transition: background-color 250ms ease;
  &:after, &:before {
    position: absolute;
    bottom: 13px;
    right: 0;
    display: block;
    font-family: 'FontAwesome';
    @include font-size($input_font_size);
    background: white;
    opacity: 0;
    transition: opacity 250ms ease;
  }
  &:before {
    content: '\f071';
    color: $error_color--dark;
  }
  &:after {
    content: '\f00c';
    color: $dark_cyan;
  }
  &--invalid {
    z-index: 1;
    color: $error_color--dark;
    &:before {
      opacity: 1;
    }
  }
  &--valid {
    z-index: 2;
    &:after {
      opacity: 1;
    }
  }
  &--no-side-margin {
    margin-left: 0;
    margin-right: 0;
  }


  &__title {
    display: block;
    padding-bottom: 0.5rem;
    @include font-size($paragraph_font_size);
    &--inline {
      display: inline-block;
    }
  }
  &__help {
    display: block;
    margin-top: -0.5rem;
    padding-bottom: 0.5rem;
    @include font-size(14px);
    font-weight: 100;
    color: $dark_cyan;
  }
  &__validation {
    margin-top: -0.5rem;
    padding-bottom: 0.5rem;
    @include font-size(14px);
    &:empty, & {
      display: none;
    }
    .form-row--invalid & {
      display: block;
      font-weight: bold;
      color: $error_color--dark;
    }
  }
  &__input {
    width: 100%;
    @include font-size($input_font_size);
    padding: 0 0 0.75rem 0;
    background: transparent;
    color: $dark_cyan;
    border: none;
    border-bottom: 2px solid $light_grey;
    .form-row--invalid & {
      border-color: $error_color;
    }
    &:focus {
      outline: 0;
      border-color: $dark_grey;
      color: $dark_cyan;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: $dark_cyan;
    }
  }
}

.form-box {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 1px solid $light_grey;
  border-radius: $box--border-radius;
}

.sign-in {
  margin-top: 1.5rem;
}