.form-row {
  margin-bottom: 2rem;
  &--validation-error {
    background-color: lighten($light_pink,2%);
    padding: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  &__label {

  }
  &__title {
    display: block;
    margin-bottom: 0.5rem;
    @include font-size(18px);
    color: #5d5d5d;
  }
  &__validation {
    font-size: 80%;
    color: $error_color;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    &:empty, & {
      display: none;
    }
    .form-row--validation-error & {
      display: block;
    }
  }
  &__input {
    width: 100%;
    @include font-size(20px);
    padding: 0 0 0.75rem 0;
    background: transparent;
    color: $dark_cyan;
    border: none;
    border-bottom: 2px solid $light_grey;
    .form-row--validation-error & {
      border-color: $error_color;
    }
    &:focus {
      outline: 0;
      border-color: $medium_cyan;
    }
  }
}


label {
  cursor: pointer;
}

input {
  border-radius: 0;
}
