.form-row {
  &__label {
  }
  &__label__title {
    display: block;
    margin-bottom: 0.25rem;
  }
  &__label__validation {
    display: block;
    font-size: 80%;
    margin-bottom: 0.25rem;
    &:empty {
      display: none;
    }
  }
  &__input {
    width: 100%;
    @include font-size(18px);
    padding: 0.5rem 0;
    border: none;
    border-bottom: 2px solid $light_grey;
  }
}

input {
  border-radius: 0;
}

.button {
  appearance: none;
  width: 100%;
  border: none;
  padding: 1rem;
  @include font-size(18px);
  display: block;
  text-align: left;
}

.login-form {

}
