$grid_gutter: 10px;

// Grid system
//
// Create rows with `.columns` to clear the floated columns and outdent the
// padding on `.column`s with negative margin for alignment.

@mixin columns {
  @include clearfix;
  margin-right: -$grid_gutter;
  margin-left: -$grid_gutter;
}
@mixin column($breakpoint: $medium_device) {
  padding-right: $grid_gutter;
  padding-left: $grid_gutter;
  @include width-to($breakpoint) {
    float: none;
    width: 100%;
    margin-bottom: $grid_gutter;
  }
  @include width-from($breakpoint) {
    float: left;
  }
}

@mixin single-column {
  width: 100%;
  float: none;
  padding-right: $grid_gutter;
  padding-left: $grid_gutter;
}

.columns {
  @include columns;
}

// Base class for every column (requires a column width from below)
.column {
  @include column;
}

@mixin column-one-half($breakpoint:$medium_device) {
  $breakpoint: if($breakpoint, $breakpoint, 100px);
  @include column($breakpoint);
  width: 50%;
}
@mixin column-one-third($breakpoint:$medium_device) {
  @include column($breakpoint);
  width: 33.333333%;
}
@mixin column-two-thirds($breakpoint:$medium_device) {
  @include column($breakpoint);
  width: 66.666667%;
}

@mixin column-one-fourth($breakpoint:$medium_device) {
  @include column($breakpoint);
  width: 25%;
}
@mixin column-three-fourths($breakpoint:$medium_device) {
  @include column($breakpoint);
  width: 75%;
}


// Column widths
.one-third {
  @include column-one-third;
}

.two-thirds {
  @include column-two-thirds;
}

.one-fourth {
  @include column-one-fourth;
}

.one-half {
  @include column-one-half;
}

.three-fourths {
  @include column-three-fourths;
}

.one-fifth {
  width: 20%;
}

.four-fifths {
  width: 80%;
}

// Single column hack
.single-column {
  @include single-column;
}

// Equal width columns via table sorcery.
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: $grid_gutter;
  padding-left: $grid_gutter;
  vertical-align: top;
}