$white: #fff;
$black: #000;

$light_grey: #EEEEEE;
$light_pink: #FFEAFC;
$light_cyan: #D3FFFD;
$super_light_cyan: #e9fffe;

$medium_grey: #AAAAAA;
$medium_cyan: #00D3CA;
$medium_pink: #FF69E8;
$medium_pink_dull: #af59a2;

$dark_grey: #666666;
$dark_cyan: #007E84;
$dark_pink: #9E2E8D;
$dark_salmon: #fe706a;
$dark_coral: #ff5959;

$darker_grey: #222222;
$darker_cyan: #00444A;
$darker_pink: #690055;

$card_background: #404040;

$text_grey: #333;

$default_text_color: rgba(black,0.8);
$background_color: $white;

$error_color: $medium_pink_dull;
$success_color: #93e4dc;


$link_colour: $default_text_color !default;
$link_hover_colour: $link_colour !default;
$link_visited_colour: $link_colour !default;
$link_active_colour: $link_colour !default;

//

$small_device: 320px;
$smallish_device: 480px;
$medium_device: 640px;
$large_device: 768px;
$extra_large_device: 960px;
$monster_large_device: 1220px;

//

$grid_gutter: 15px;

$box--border-radius: 3px;


//

$max_site_width: $medium_device;
$main_nav_height: 50px;

//

$heading_title_font_family: sans-serif;
$para_font_family: sans-serif;
$serif_font_family: Georgia, Times, 'Times New Roman', serif;

//

$h1_font-size--small: 24px;
$h1_font_size--medium: 28px;
$h2_font_size--small: 20px;
$h2_font_size--medium: 24px;
$paragraph_font_size: 16px;
$input_font_size: 18px;
$button_font_size: 18px;


