//
// Setup theme colors
//
$color_1: #1f1f1f;
$color_2: #fff;
// add more colors if you like...

//
// These all exist within the app - only change their value :)
//
$header_background_color: $color_1;
$header_logo_image_path: 'd-cent.svg';
//
$tab_bg_color: $color_2;
$tab_bg_color_active: $color_2;
$tab_color_active: $color_1;
$tab_link_bg_colour_hover: rgba($color_2, 0.5);
$tab_link_colour_hover: darken($color_1,10%);

@import 'application'; // do not delete!
