HOST={{ HOST }}
PORT={{ PORT }}
BASE_URL={{ BASE_URL }}
APP_NAME={{ APP_NAME }}
HEADER_BG_COLOR={{ HEADER_BG_COLOR }}
HEADER_FONT_COLOR={{ HEADER_FONT_COLOR }}
HEADER_FONT_COLOR_HOVER={{ HEADER_FONT_COLOR_HOVER }}
ADMIN_FIRST_NAME={{ ADMIN_FIRST_NAME }}
ADMIN_LAST_NAME={{ ADMIN_LAST_NAME }}
ADMIN_LOGIN={{ ADMIN_LOGIN }}
ADMIN_PASSWORD={{ ADMIN_PASSWORD }}
PASSWORD_RESET_EXPIRY={{ PASSWORD_RESET_EXPIRY }}
OPEN_ID_CONNECT_ID_TOKEN_LIFETIME_MINUTES={{ OPEN_ID_CONNECT_ID_TOKEN_LIFETIME_MINUTES }}
INVITE_EXPIRY={{ INVITE_EXPIRY }}
EMAIL_SCRIPT_PATH={{ EMAIL_SCRIPT_PATH }}
EMAIL_SERVICE_PROVIDER={{ EMAIL_SERVICE_PROVIDER }}
EMAIL_DOMAIN_NAME={{ EMAIL_DOMAIN_NAME }}
MAILGUN_API_KEY={{ MAILGUN_API_KEY }}

# DO NOT REMOVE THE FOLLOWING VARIABLES
CLIENT_CREDENTIALS_FILE_PATH=/var/config/clients.yml
LOGO_FILE_NAME=logo.svg
FAVICON_FILE_NAME=favicon.ico
STATIC_RESOURCES_DIR_PATH=/data/stonecutter/static
RSA_KEYPAIR_FILE_PATH=/var/config/rsa-keypair.json
