HOST={{ HOST }}
PORT={{ PORT }}
BASE_URL={{ BASE_URL }}
CLIENT_CREDENTIALS_FILE_PATH="/var/stonecutter/config/clients.yml"
APP_NAME={{ APP_NAME }}
HEADER_BG_COLOR={{ HEADER_BG_COLOR }}
HEADER_FONT_COLOR={{ HEADER_FONT_COLOR }}
HEADER_FONT_COLOR_HOVER={{ HEADER_FONT_COLOR_HOVER }}
LOGO_FILE_NAME={{ LOGO_FILE_NAME }}
FAVICON_FILE_NAME={{ FAVICON_FILE_NAME }}
STATIC_RESOURCES_DIR_PATH="/data/stonecutter/static/"
ADMIN_FIRST_NAME={{ ADMIN_FIRST_NAME }}
ADMIN_LAST_NAME={{ ADMIN_LAST_NAME }}
ADMIN_LOGIN={{ ADMIN_LOGIN }}
ADMIN_PASSWORD={{ ADMIN_PASSWORD }}
PASSWORD_RESET_EXPIRY={{ PASSWORD_RESET_EXPIRY }}
OPEN_ID_CONNECT_ID_TOKEN_LIFETIME_MINUTES={{ OPEN_ID_CONNECT_ID_TOKEN_LIFETIME_MINUTES }}
INVITE_EXPIRY={{ INVITE_EXPIRY }}
RSA_KEYPAIR_FILE_PATH="/var/stonecutter/config/rsa-keypair.json"
EMAIL_SCRIPT_PATH={{ EMAIL_SCRIPT_PATH }}
EMAIL_SERVICE_PROVIDER={{ EMAIL_SERVICE_PROVIDER }}
EMAIL_DOMAIN_NAME={{ EMAIL_DOMAIN_NAME }}
MAILGUN_API_KEY={{ MAILGUN_API_KEY }}
MONGO_URI={{ MONGO_URI }}
MONGO_DB_NAME={{ MONGO_DB_NAME }}
