a.header-nav__link.clj-wip(href="./apps", data-l8n="content:admin/nav-apps") !Apps
a.header-nav__link(href="./user-list", data-l8n="content:admin/nav-users") !Users
a.header-nav__link.clj-wip(href="./invite", data-l8n="content:admin/nav-invite-user") !Invite
a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-in", data-l8n="content:profile/sign-out-link") !Sign out
