a.header-nav__link.clj--profile__link(href="./profile", data-l8n="content:admin/nav-profile") !Profile
a.header-nav__link.clj--apps-list__link(href="./apps", data-l8n="content:admin/nav-apps") !Apps
a.header-nav__link.clj--user-list__link(href="./admin/users", data-l8n="content:admin/nav-users") !Users
a.header-nav__link.clj-wip(href="./invite", data-l8n="content:admin/nav-invite-user") !Invite
a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-in", data-l8n="content:profile/sign-out-link") !Sign out