a.header-nav__link.clj--profile__link(href="./profile", data-l8n="content:profile/profile-link") !Profile
a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-out", data-l8n="content:profile/sign-out-link") !Sign out
