extends layout/layout

block vars
  - bodyClass = "func--admin-app-list-page"
  - pageTitle = "!Apps"
  - pageTitleDataL8n = "content:admin-app-list/title"

block headerScripts

block headerContent
  include _admin_navigation

block content
  .single-column

    +flashMessageWithCljContainer('clj--flash-message-add-container','func--flash-message-add-container', 'success')
      p.flash-message__title
        span.clj--new-app-name.func--new-app-name !Wild_monkey_juice
        = " "
        span.flash-message-text(data-l8n="content:admin-app-list/added-flash-success") !was successfully added

    +flashMessageWithCljContainer('clj--flash-message-delete-container','func--flash-message-delete-container', 'success')
      p.flash-message__title
        span.clj--deleted-app-name.func--deleted-app-name !Wild_monkey_juice
        = " "
        span.flash-message-text(data-l8n="content:admin-app-list/deleted-flash-success") !was successfully deleted

    h1(data-l8n="content:admin-app-list/page-title") !Apps

    p: a.link-button(href="#name", data-l8n="content:admin-app-list/link-to-add-more") !Add more apps

    ul.admin-app-list.clj--admin-apps-list
      +adminAppItem('Objective8', 'objective8.dcentproject.eu', 'WZAWAXAWADQE', '765456789ABB')
      +adminAppItem('Wild_monkey_juice', 'www.wild-monkey-jui.ce', 'AZAZAXACADQE', '123456789TTD')

    form.admin-add-app-form(action="#", method="post")
      fieldset
        legend.visuallyhidden Add new App
        p.form-row.clj--application-name
          label.form-row__label(for="application-name")
            span.form-row__title(data-l8n="content:admin-app-list/label-app")
              | !App name
            = " "
            span.form-row__validation.clj--application-name__validation(data-l8n="content:admin-app-list/app-invalid-validation-message")
              | !Enter the application name
          input.form-row__input.func--admin-add-app-form-name(type="text", id="name", name="name", placeholder="Example")

        p.form-row.clj--application-url
          label.form-row__label(for="application-url")
            span.form-row__title(data-l8n="content:admin-app-list/label-app-url")
              | !App url
            = " "
            span.form-row__validation.clj--application-url__validation(data-l8n="content:admin-app-list/url-invalid-validation-message")
              | !Enter the application url
          input.form-row__input.func--admin-add-app-form-url(type="text", id="url", name="url", placeholder="www.example.com/")

        button.button.button--full-width-smallish-devices.func--create-add__button(type="submit" data-l8n="content:admin-app-list/add-app-button")
          | !Add app

