extends layout/layout

block vars
  - bodyClass = "func--admin-sign-in-page"
  - pageTitle = "!Sign in"
  - pageTitleDataL8n = "content:admin-sign-in-form/title"

block headerScripts
block headerContent
block content

  .single-column
    h1.page-title(data-l8n="content:admin-sign-in-form/page-header")
      | !Sign in
    form.login-form(action="./user-list", method="post", role="form")
      .validation-summary.clj--validation-summary
        .validation-summary__title
        ul.validation-summary__list
          li.validation-summary__item.clj--validation-summary__item(data-l8n="content:admin-sign-in-form/invalid-credentials-validation-message")
            | !Invalid email address or password
      p.form-row.clj--sign-in-email
        label.form-row__label(for="email")
          span.form-row__title(data-l8n="content:admin-sign-in-form/email-address")
            | !Email address
          span.form-row__validation.clj--sign-in-email__validation(data-l8n="content:admin-sign-in-form/email-address-invalid-validation-message")
            | !Enter a valid email address
        input.form-row__input.clj--email__input.func--email__input(type="email", id="email", name="email")
      p.form-row.clj--sign-in-password
        label.form-row__label(for="password")
          span.form-row__title(data-l8n="content:admin-sign-in-form/password")
            | !Password
          span.form-row__validation.clj--sign-in-password__validation(data-l8n="content:admin-sign-in-form/password-invalid-validation-message")
            | !Cannot be blank
        input.form-row__input.func--password__input(type="password", id="password", name="password")
      .button-actions
        .button-actions__primary
          button.button.button--full-width.func--sign-in__button(type="submit", data-l8n="content:admin-sign-in-form/sign-in")
            | !Sign in
        .button-actions__secondary
          a.button.button--link.button--full-width.clj--forgot-password.func--forgot-password__button(href="#", data-l8n="content:admin-sign-in-form/forgot-password") !Forgot password?

block footerScripts
