extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = "!Authorise"
  - pageTitleDataL8n = ""

block headerScripts

block content
  .middle-container
    h1.page-title
      | Authorise
      = " "
      span.clj-app-name Stubapp
      = " "
      | to use your account?

    .authorise-text
      p.authorise-text__description
        | This application
        = " "
        span.authorise-text__description--allowed will be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-check.authorise-text__icon.authorise-text__icon--allowed
          = " "
          | View your profile card

    .authorise-buttons
      .authorise-buttons__primary
        a.button.button--full-width.button--primary(href="http://thoughtworksinc.github.io/stonecutter-client/authorise-success") Authorise app
      .authorise-buttons__secondary
        a.button.button--full-width.button--grey(href="http://thoughtworksinc.github.io/stonecutter-client/authorise-fail") Cancel

    .authorise-text
      p.authorise-text__description
        | This application
        = " "
        span.authorise-text__description--disallowed will not be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Drive a car
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Order a pizza
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Read or write any direct messages

    .authorise-terms
      p
        | You can revoke access at anytime from your
        =" "
        span.authorise-terms__link profile settings
        ="."