extends layout/layout

block vars
  - bodyClass = "func--authorise-failure-page"
  - pageTitle = "!Authorise failed"
  - pageTitleDataL8n = "content:authorise-fail/title"

block headerScripts

block content
  .middle-container
    h1.page-title
      span(data-l8n="content:authorise-fail/page-intro") !You have not signed in to
      = " "
      span.clj--client-name Green Party Voting
    p
      span.clj--client-name Green Party Voting
      = " "
      span(data-l8n="content:authorise-fail/page-intro-ending") !can not have access to your Profile Card and cannot sign in.

    a.button.button--secondary.clj--redirect-to-client-home__link.func--redirect-to-client-home__link(href="#{demoAppURL}")
      | Return to
      = " "
      span.clj--client-name Green Party Voting
