extends layout/layout

block vars
  - bodyClass = "func--authorise-page"
  - pageTitle = "!Authorise"
  - pageTitleDataL8n = "content:authorise/title"

block headerScripts

block content
  .middle-container
    h1.page-title
      span.clj--client-name Green Party Voting
      = " "
      | would like to use your Profile Card

    .authorise-text
      p.authorise-text__description
        | By sharing your Profile Card this application
        = " "
        span.authorise-text__description--allowed will be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-check.fa-fw.authorise-text__icon.authorise-text__icon--allowed
          = " "
          | Sign you in
        li.authorise-text__item
          i.fa.fa-check.fa-fw.authorise-text__icon.authorise-text__icon--allowed
          = " "
          | View your Profile Card

    .authorise-text
      p.authorise-text__description
        | This application
        = " "
        span.authorise-text__description--disallowed will not be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-times.fa-fw.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Update your Profile Card

    form.func--authorise__form.clj--authorise__form(action="./authorisation", method="post", role="form")
      input.clj--authorise-csrf__input(type="hidden" name="csrf-token" value="1234")
      input.clj--authorise-client-id__input(type="hidden" name="client_id" value="ASDAD1234")
      input.clj--authorise-response-type__input(type="hidden" name="response_type" value="code")
      input.clj--authorise-redirect-uri__input(type="hidden" name="redirect_uri" value="./callback")
      .authorise-buttons
        .authorise-buttons__primary
          button.button.button--full-width.button--primary.func--authorise-share-profile__button(type="submit")
            span Share Profile Card
        .authorise-buttons__secondary
          a.button.button--full-width.button--link.clj--authorise-cancel__link.func--authorise-cancel__link(href="./authorise-failure") Cancel

    .authorise-terms
      p
        | You can unshare your Profile Card at anytime from your
        =" "
        span.authorise-terms__link profile
        ="."
