extends layout/layout

block vars
  - bodyClass = ""

block title
  | Authorise

block headerScripts

block content

  .header

  .middle-container
    h1.page-title
      | Authorise
      = " "
      span.clj-app-name Stupapp
      = " "
      | to use your account?

    .authorise-text
      p.authorise-text__description
        | This application
        = " "
        span.authorise-text__description--allowed will be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-check.authorise-text__icon.authorise-text__icon--allowed
          = " "
          | View your profile card

    .authorise-buttons
      .authorise-buttons__primary
        a.button.button--primary(href="/authorise-continue") Authorise app
      .authorise-buttons__secondary
        a.button.button--secondary(href="/authorise-cancel") Cancel

    .authorise-text
      p.authorise-text__description
        | This application
        = " "
        span.authorise-text__description--disallowed will not be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Drive a car
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Order a pizza
        li.authorise-text__item
          i.fa.fa-times.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          | Read or write any direct messages

    .authorise-terms
      p
        | You can revoke access at anytime from your
        =" "
        a.authorise-terms__link(href="/profile") profile settings
        ="."