extends layout/layout

block vars
  - bodyClass = "func--authorise-page"
  - pageTitle = "!Authorise"
  - pageTitleDataL8n = "content:authorise/title"

block headerScripts

block content
  .single-column
    h1.page-title
      span.clj--client-name Green Party Voting
      = " "
      span(data-l8n="content:authorise/page-title") !would like to use your Profile Card

    .authorise-text
      p.authorise-text__description
        span(data-l8n="content:authorise/share-1") !By sharing your Profile Card this application
        = " "
        span.authorise-text__description--allowed(data-l8n="content:authorise/share-2") !will be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-check.fa-fw.authorise-text__icon.authorise-text__icon--allowed
          = " "
          span(data-l8n="content:authorise/item-sign-in") !Sign you in
        li.authorise-text__item
          i.fa.fa-check.fa-fw.authorise-text__icon.authorise-text__icon--allowed
          = " "
          span(data-l8n="content:authorise/item-view-profile") !View your Profile Card

    .authorise-text
      p.authorise-text__description
        span(data-l8n="content:authorise/not-intro-1") !This application
        = " "
        span.authorise-text__description--disallowed(data-l8n="content:authorise/not-intro-2") will not be able to:
      ul.authorise-text__list
        li.authorise-text__item
          i.fa.fa-times.fa-fw.authorise-text__icon.authorise-text__icon--disallowed
          = " "
          span(data-l8n="content:authorise/item-update-profile") !Update your Profile Card

    .wrapper__card
      .card
        .card__row.card__row--bottom-border
          .card__photo.clj--card-photo
            .card__image.clj--card-image.func--card-image
              +imageIncludeTag("", "", {alt:"Your profile picture"})
          .card__details
            .card__heading
              .card__name.clj--card-name.func--card-name !Peter Thomas Cheshire
              .card__display-name.clj-wip PTC
            .card__description.clj-wip
              p Hoodie bespoke Tumblr, Pitchfork Etsy dreamcatcher cronut sartorial flexitarian vinyl synth PBRB Neutra single-origin coffee.
        .card__row
          dl.card__items
            dt.card__items-key Email
            dd.card__items-value.clj--card-email.func--card-email name@domain.com
            dt.card__items-key.clj-wip PGP KeyID
            dd.card__items-value.clj-wip E97A7A5D
            dt.card__items-key.clj-wip Fingerprint
            dd.card__items-value.clj-wip 1D42 0588 F6E7 4029 F312  9FAE 8378 C285 E97A 7A5F

    form.func--authorise__form.clj--authorise__form(action="./authorisation", method="post", role="form")
      input.clj--authorise-csrf__input(type="hidden" name="csrf-token" value="1234")
      input.clj--authorise-client-id__input(type="hidden" name="client_id" value="ASDAD1234")
      input.clj--authorise-response-type__input(type="hidden" name="response_type" value="code")
      input.clj--authorise-redirect-uri__input(type="hidden" name="redirect_uri" value="./callback")
      input.clj--authorise-scope__input(type="hidden" name="scope" value="!scope")
      .authorise-buttons
        .authorise-buttons__primary
          button.button.button--full-width.button--primary.func--authorise-share-profile__button(type="submit", data-l8n="content:authorise/allow-action") !Share Profile Card
        .authorise-buttons__secondary
          a.button.button--full-width.button--link.clj--authorise-cancel__link.func--authorise-cancel__link(href="./authorise-failure")
            span(data-l8n="content:authorise/disallow-action-1") !Cancel
            span.visuallyhidden(data-l8n="content:authorise/disallow-action-2") !and do not share my Profile Card

    .authorise-terms
      p(data-l8n="content:authorise/terms") !You can unshare your Profile Card at anytime from your profile.