extends layout/layout

block vars
  - bodyClass = "func--change-password-page"
  - pageTitle = "!Change your password"
  - pageTitleDataL8n = "content:change-password-form/title"

block headerScripts

block headerContent
  li.header-nav__item: a.header-nav__link(href="./profile", data-l8n="content:profile/profile-link") !Profile
  li.header-nav__item: a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-out", data-l8n="content:profile/sign-out-link") !Sign out

block content
  .single-column
    h1.page-title(data-l8n="content:change-password-form/page-header")
      | !Change your password
    form.change-password.clj--change-password__form(action="./change-password-post", method="post", role="form")
      .validation-summary.clj--validation-summary
        .validation-summary__title
        ul.validation-summary__list
          li.validation-summary__item.clj--validation-summary__item(data-l8n="content:change-password-form/confirm-password-invalid-validation-message")
            | !Ensure your passwords match

      p.form-row.clj--current-password
        label.form-row__label(for="current-password")
          span.form-row__title(data-l8n="content:change-password-form/current-password")
            | !Current password
        input.form-row__input.func--current-password__input(type="password", id="current-password", name="current-password")

      p.form-row.clj--new-password
        label.form-row__label(for="new-password")
          span.form-row__title(data-l8n="content:change-password-form/new-password")
            | !New password
          span.form-row__help(data-l8n="content:change-password-form/new-password-help")
            | !8 or more characters
        input.form-row__input.func--new-password__input(type="password", id="new-password", name="new-password")

      p.form-row.clj--confirm-new-password
        label.form-row__label(for="verify-password")
          span.form-row__title(data-l8n="content:change-password-form/confirm-new-password")
            | !Verify password
        input.form-row__input.func--confirm-new-password__input(type="password", id="verify-password", name="confirm-new-password")
      .button-actions
        .button-actions__primary
          button.button.button--full-width.func--change-password__button(type="submit" data-l8n="content:change-password-form/form-button")
            | !Save changes
        .button-actions__secondary
          a.button.button--full-width.button--link.clj--change-password-cancel__link(href="./profile", data-l8n="content:change-password-form/cancel-button") !Cancel

block footerScripts
  if staticMode
    script.
      var form = document.getElementsByClassName('change-password')[0];
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        var formAction = form.getAttribute('action') + "?";
        window.location = formAction;
      });
