extends layout/layout

block vars
  - bodyClass = "func--change-profile-details-page"
  - pageTitle = "!Change your profile details"
  - pageTitleDataL8n = "content:change-profile-form/title"

block headerScripts

block headerContent
  a.header-nav__link(href="./profile", data-l8n="content:profile/profile-link") !Profile
  a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-out", data-l8n="content:profile/sign-out-link") !Sign out

block content
  .single-column

    h1.page-title(data-l8n="content:change-profile-form/page-header")
      | !Change your profile details.
    form.clj--change-profile-details__form(action="#", method="post", role="form", enctype="multipart/form-data", accept="image/*")
      p.form-row.clj--first-name
        label.form-row__label(for="first-name")
          span.form-row__title(data-l8n="content:change-profile-form/first-name-label")
            | !First name
          span.form-row__validation.clj--change-first-name__validation(data-l8n="content:index/register-first-name-blank-validation-message")
            | !Enter a new name.
        input.form-row__input.func--change-first-name__input.clj--change-first-name__input(type="text", id="first-name", name="first-name")
      p.form-row.clj--last-name
        label.form-row__label(for="last-name")
          span.form-row__title(data-l8n="content:change-profile-form/last-name-label")
            | !Last name
          span.form-row__validation.clj--change-last-name__validation(data-l8n="content:index/register-last-name-blank-validation-message")
            | !Enter a new name.
        input.form-row__input.func--change-last-name__input.clj--change-last-name__input(type="text", id="last-name", name="last-name")
      .form-row.upload__picture
        label.form-row__label(for="profile-picture")
          span.form-row__title(data-l8n="content:change-profile-form/profile-picture-label")
            | !Profile picture
        .profile__picture.clj--profile-picture
          +imageIncludeTag("temp-avatar-300x300.png", "", {alt:"Your profile picture"})
        input(type="file" name="profile-photo" id="profile-photo")

      .button-actions
        .button-actions__primary
          button.button.button--full-width.func--change-details__button(type="submit" data-l8n="content:change-profile-form/form-button")
            | !Save changes
        .button-actions__secondary
          a.button.button--full-width.button--link.change-profile-back__link.clj--change-profile-back__link.func--change-profile-back__link(href="./profile")
            span(data-l8n="content:change-email-form/cancel-button-1") !Cancel

block footerScripts
