extends layout/layout

block vars
  - bodyClass = "func--delete-account-page"
  - pageTitle = "!Delete your account"
  - pageTitleDataL8n = "content:delete-account/title"

block content
  .single-column
    .modal__content.clj-modal-contents.js-modal
      .modal__header
        h2.modal__title(data-l8n="content:delete-account/modal-delete-title")
          | !Are you sure you want to delete your account?
      .modal__body
        p(data-l8n="content:delete-account/modal-delete-lede")
          | !If you delete your account all your data will be removed.
      .modal-buttons
        .modal-buttons__primary
          form.delete-account.clj--delete-account__form(action="./profile-deleted",method="post")
            button.button.button--full-width.func--delete-account__button(type="submit", data-l8n="content:delete-account/modal-delete-ok-button") !Delete account
        .modal-buttons__secondary
          a.button.button--full-width.button--link.clj--delete-account-cancel__link(href="./profile", data-l8n="content:delete-account/modal-delete-cancel-button") !Cancel

block footerScripts
  if staticMode
    script.
      var form = document.getElementsByClassName('delete-account')[0];
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        var formAction = form.getAttribute('action') + "?";
        window.location = formAction;
      });
