extends layout/layout

block vars
  - bodyClass = "func--error-account-nonexistent-page"
  - pageTitle = "!Account missing"
  - pageTitleDataL8n = "content:error-account-nonexistent/title"

block headerScripts

block content
  .single-column
    h1.page-title(data-l8n="content:error-account-nonexistent/page-header") !Uh oh
    p(data-l8n="content:error-account-nonexistent/page-intro") !The account does not exist
    div(data-l8n="html:error-account-nonexistent/page-content")
      p !These are not the droids you are looking for..
