extends layout/layout

block vars
  - bodyClass = "func--forgotten-password-confirmation-page"
  - pageTitle = "!Forgotten password - email sent"
  - pageTitleDataL8n = "content:forgot-password-confirmation/title"

block headerScripts

block content
  .single-column
    h1.page-title(data-l8n="content:forgot-password-confirmation/page-header") !Email sent
    p(data-l8n="content:forgot-password-confirmation/helper-text") !Assuming you gave us the correct email address, we sent you a link!
    a.button(href="/", data-l8n="content:forgot-password-confirmation/home-link") !Return home
