extends layout/layout

block vars
  - bodyClass = "func--forgot-password-page"
  - pageTitle = "!Forgot password"
  - pageTitleDataL8n = "content:forgot-password/title"

block headerScripts

block content
  .middle-container
    h1.page-title Forgot password
    form.login-form.clj--forgotten-password__form(action="#", method="")
      p.form-row.clj--forgotten-password-email
        label.form-row__label(for="email")
          span.form-row__title(data-l8n="content:forgot-password/email-label")
            | !Email address
          span.form-row__validation.clj--forgotten-password-email__validation(data-l8n="content:forgot-password/email-address-invalid-validation-message")
            | !Enter a valid email address
        input.form-row__input.clj--forgotten-password-email__input(type="email", id="email", name="email")
      button.button.button--full-width(type="submit", data-l8n="content:forgot-password/submit") !Send change password link
