extends layout/layout

block vars
  - bodyClass = "func--forgot-password-page"
  - pageTitle = "!Forgot password confirmation"
  - pageTitleDataL8n = "content:forgot-password/title"

block headerScripts

block content
  .middle-container
    h1.page-title !Email sent
      p !Assuming you gave us the correct email address, we sent you a link!
    a.button.button--full-width(href="/", data-l8n="content:forgot-password-confirmation/home-link") !Return home
