extends layout/layout

block vars
  - bodyClass = "func--forgot-password-page"
  - pageTitle = "!Forgot password"
  - pageTitleDataL8n = "content:forgot-password/title"

block headerScripts

block content
  .single-column
    h1.page-title Forgot password

    .clj--flash-message-container.func--flash-message-container
      .flash-message.flash-message--fail
        p.flash-message__title(data-l8n="content:flash/expired-password-reset") !Reset url no longer exists

    form.login-form.clj--forgotten-password__form(action="#", method="")
      p.form-row.clj--forgotten-password-email
        label.form-row__label(for="email")
          span.form-row__title(data-l8n="content:forgot-password/email-label")
            | !Email address
          span.form-row__validation.clj--forgotten-password-email__validation(data-l8n="content:forgot-password/email-address-invalid-validation-message")
            | !Enter a valid email address
        input.form-row__input.clj--forgotten-password-email__input.func--email__input(type="email", id="email", name="email")
      button.button.button--full-width.func--send-forgotten-password-email__button(type="submit", data-l8n="content:forgot-password/submit") !Send change password link
