extends layout/layout

block vars
  - bodyClass = "func--sign-in-page"
  - pageTitle = "!Sign in"
  - pageTitleDataL8n = "content:sign-in-form/title"

block headerScripts

block headerContent
  li.tabs__item.tabs__item--active: a.tabs__link(href="./sign-in", data-l8n="content:sign-in-register/sign-in-tab")
    | !Sign in
  li.tabs__item: a.tabs__link.func--register__link.clj--register__link(href="./register", data-l8n="content:sign-in-register/register-tab")
    | !Register

block content
  .middle-container
    h1.page-title.visuallyhidden(data-l8n="content:sign-in-form/page-header")
      | !Sign in
    form.login-form(action="authorise", method="post", role="form")
      .validation-summary.clj--validation-summary
        .validation-summary__title
        ul.validation-summary__list
          li.validation-summary__item.clj--validation-summary__item(data-l8n="content:sign-in-form/invalid-credentials-validation-message")
            | !Invalid email address or password
      p.form-row.clj--sign-in-email
        label.form-row__label(for="email")
          span.form-row__title(data-l8n="content:sign-in-form/email-address")
            | !Email address
          span.form-row__validation.clj--sign-in-email__validation(data-l8n="content:sign-in-form/email-address-invalid-validation-message")
            | !Enter a valid email address
        input.form-row__input.clj--email__input.func--email__input(type="email", id="email", name="email")
      p.form-row.clj--sign-in-password
        label.form-row__label(for="password")
          span.form-row__title(data-l8n="content:sign-in-form/password")
            | !Password
          span.form-row__validation.clj--sign-in-password__validation(data-l8n="content:sign-in-form/password-invalid-validation-message")
            | !Cannot be blank
        input.form-row__input.func--password__input(type="password", id="password", name="password")
      .button-actions
        .button-actions__primary
          button.button.button--full-width.func--sign-in__button(type="submit", data-l8n="content:sign-in-form/sign-in")
            | !Sign in to Profile
        .button-actions__secondary
          a.button.button--link.button--full-width.clj--forgot-password.func--forgot-password__button(href="#", data-l8n="content:sign-in-form/forgot-password") !Forgot password?

    .register-now
      h2.register-now__title(data-l8n="content:registration-form/page-header")
        | !Register for a Profile Card
      .profile-card-description
        p
          strong A Profile Card
          =" "
          | allows you to sign in to supported applications without creating more accounts.
      form.register-form(action="./profile-created", method="post", role="form")
        .validation-summary.clj--validation-summary
          .validation-summary__title
          ul.validation-summary__list
            li.validation-summary__item.clj--validation-summary__item(data-l8n="content:registration-form/confirm-password-invalid-validation-message")
              | !Ensure your passwords match
        p.form-row.clj--registration-email
          label.form-row__label(for="email")
            span.form-row__title(data-l8n="content:registration-form/email-address")
              | !Email address
            span.form-row__validation.clj--registration-email__validation(data-l8n="content:registration-form/email-address-invalid-validation-message")
              | !Enter a valid email address
          input.form-row__input.registration-email-input.func--email__input(type="email", id="email", name="email")
        p.form-row.clj--registration-password
          label.form-row__label(for="password")
            span.form-row__title(data-l8n="content:registration-form/password")
              | !Password
            span.form-row__validation.clj--registration-password__validation(data-l8n="content:registration-form/password-invalid-validation-message")
              | !Password must be between 8 and 50 characters long
          input.form-row__input.func--password__input(type="password", id="password", name="password")
        p.form-row.clj--registration-confirm-password
          label.form-row__label(for="confirm-password")
            span.form-row__title(data-l8n="content:registration-form/confirm-password")
              | !Confirm Password
          input.form-row__input.func--confirm-password__input(type="password", id="confirm-password", name="confirm-password")
        .button-actions
          .button-actions__primary
            button.button.button--full-width.func--create-profile__button(type="submit" data-l8n="content:registration-form/create-account")
              | !Create Profile Card


block footerScripts
  if staticMode
    script.
      var form = document.getElementsByClassName('login-form')[0];
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        var formAction = form.getAttribute('action') + "?";
        window.location = formAction;
      });
