extends layout/layout

block vars
  - bodyClass = ""

block title
  | Demo

block headerScripts

block content

  .middle-container
    nav
      li: a(href="/library") Library
      li: a(href="/sign-in") Sign in
      li: a(href="/register") Register

