extends layout/layout

block vars
  - bodyClass = ""

block title
  | Demo

block headerScripts
  style.
    .demo {
      padding-top: 40px;
    }
    .demo-item {
      margin
    }



block content

  .demo
    .middle-container
      nav
        li: a(href="library") Library
        li: a(href="sign-in") Sign in
        li: a(href="register") Register
        li: a(href="profile") Profile

