extends layout/layout

block vars
  - bodyClass = "func--index-page"
  - pageTitle = "!Welcome"
  - pageTitleDataL8n = "content:index/title"

block headerScripts

block headerContent

block content
  .middle-container.middle-container--max-large
    .columns
      .column.one-half
        .welcome
          h1.welcome__title
            span(data-l8n="content:index/welcome-header-1") !Welcome to
            = " "
            span.clj--app-name.func--welcome-app-name #{applicationName}
            = " "
            span(data-l8n="content:index/welcome-header-2")
          p.welcome__intro
            span(data-l8n="content:index/welcome-intro-1") !Connect with all your D-cent tools. Sign in securely to applications using your
            = " "
            span.clj--app-name #{applicationName}
            = " "
            span(data-l8n="content:index/welcome-intro-2") !Profile Card. You have full control with the information you'd like to share.

      .column.one-half
        .sign-in
          h2.visuallyhidden(data-l8n="content:index/sign-in-header")
            | !Sign in
          form.login-form.form-box.clj--sign-in__form(action="authorise", method="post", role="form")
            input(type="hidden", name="action", value="sign-in")
            .validation-summary.clj--sign-in-validation-summary
              .validation-summary__title
              ul.validation-summary__list
                li.validation-summary__item.clj--sign-in-validation-summary__item(data-l8n="content:index/sign-in-invalid-credentials-validation-message")
                  | !Invalid email address or password
            p.form-row.form-row--no-side-margin.clj--sign-in-email
              label.form-row__label(for="email")
                span.form-row__title(data-l8n="content:index/sign-in-email-address")
                  | !Email address
                span.form-row__validation.clj--sign-in-email__validation(data-l8n="content:index/sign-in-email-address-invalid-validation-message")
                  | !Enter a valid email address
              input.form-row__input.clj--sign-in-email__input.func--sign-in-email__input(type="email", id="email", name="sign-in-email")
            p.form-row.form-row--no-side-margin.clj--sign-in-password
              label.form-row__label(for="password")
                span.form-row__title(data-l8n="content:index/sign-in-password")
                  | !Password
                span.form-row__validation.clj--sign-in-password__validation(data-l8n="content:index/sign-in-password-blank-validation-message")
                  | !Cannot be blank
              input.form-row__input.func--sign-in-password__input(type="password", id="password", name="sign-in-password")
            .button-actions
              .button-actions__primary
                button.button.button--full-width.func--sign-in__button(type="submit", data-l8n="content:index/sign-in-submit")
                  | !Sign in
              .button-actions__secondary
                a.link-button.link-button--tall.clj--forgot-password.func--forgot-password__button(href="./forgot-password", data-l8n="content:index/sign-in-forgot-password") !Forgot password?
    .columns
      .single-column
        .register-now
          h2(data-l8n="content:index/register-header") !Create a Profile
          .profile-card-description
            p
              span(data-l8n="content:index/register-intro-1") !Register and sign in to supported applications using your
              = " "
              span.clj--app-name #{applicationName}
              = " "
              span(data-l8n="content:index/register-intro-2") !Profile Card.
          form.register-form.clj--register__form(action="./profile-created", method="post", role="form")
            .validation-summary.validation-summary--show.clj--validation-summary
              .validation-summary__title
              ul.validation-summary__list
                li.validation-summary__item.clj--validation-summary__item(data-l8n="content:index/register-unknown-error")
                  | !Validation summary item
            input(type="hidden", name="action", value="register")
            p.form-row.clj--registration-first-name
              label.form-row__label(for="reg-first-name")
                span.form-row__title(data-l8n="content:index/register-first-name")
                  | !First name
                span.form-row__validation.clj--registration-first-name__validation(data-l8n="content:index/register-first-name-invalid-validation-message")
                  | !Enter a first name
              input.form-row__input.registration-first-name-input.clj--registration-first-name__input.func--registration-first-name__input(type="text", id="reg-first-name", name="registration-first-name")
            p.form-row.clj--registration-last-name
              label.form-row__label(for="reg-last-name")
                span.form-row__title(data-l8n="content:index/register-last-name")
                  | !Last name
                span.form-row__validation.clj--registration-last-name__validation(data-l8n="content:index/register-last-name-invalid-validation-message")
                  | !Enter a last name
              input.form-row__input.registration-last-name-input.clj--registration-last-name__input.func--registration-last-name__input(type="text", id="reg-last-name", name="registration-last-name")
            p.form-row.clj--registration-email
              label.form-row__label(for="reg-email")
                span.form-row__title(data-l8n="content:index/register-email-address")
                  | !Email address
                span.form-row__validation.clj--registration-email__validation(data-l8n="content:index/register-email-address-invalid-validation-message")
                  | !Enter a valid email address
              input.form-row__input.clj--registration-email__input.func--registration-email__input(type="email", id="reg-email", name="registration-email")
            p.form-row.clj--registration-password
              label.form-row__label(for="reg-password")
                span.form-row__title(data-l8n="content:index/register-password")
                  | !Password
                span.form-row__validation.clj--registration-password__validation(data-l8n="content:index/register-password-too-short-validation-message")
                  | !Password must be between 8 and 50 characters long
              input.form-row__input.clj--registration-password__input.func--registration-password__input(type="password", id="reg-password", name="registration-password")
            button.button.button--full-width-smallish-devices.func--create-profile__button(type="submit" data-l8n="content:index/register-create-account")
              | !Create a Profile





block footerScripts
  if staticMode
    script.
      var form = document.getElementsByClassName('login-form')[0];
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        var formAction = form.getAttribute('action') + "?";
        window.location = formAction;
      });