extends layout/layout

block vars
  - bodyClass = "func--library-page"
  - pageTitle = "Library"
//  - pageTitleDataL8n = ""

block headerScripts
  style.
    .section {
      margin-bottom: 4rem;
    }
    .section-title {
      /*margin-top: 3rem;*/
    }
    .library-item {
      margin-bottom: 2rem;
    }
    .library-item:last-of-type {
      margin-bottom: 0;
    }


block content

  .middle-container

    .section
      h2.section-title Applications

      .library-item
        h3.library-title Empty
        .library__demo
          ul.app__list
            +authorisedAppItemEmpty()

      .library-item
        h3.library-title Populated
        .library__demo
          ul.app__list
            +authorisedAppItem("Green Party")

    .section
      h2.section-title Admin content

      .library-item
        h3.library-title Empty
        .library__demo
          ul.user-list
            +userListItemEmpty()

      .library-item.clj-library--user-list__user-with-confirmed-email
        h3.library-title User with confirmed email
        .library__demo
          ul.user-list
            +userItem("Shadi Erlendr", "Shadi.Erlendr@gmail.com", true, true)

      .library-item.clj-library--user-list__user-with-unconfirmed-email
        h3.library-title User with unconfirmed email
        .library__demo
          ul.user-list
            +userItem("Shadi Fox", "Shadi.Fox@gmail.com", false, true)

    .section
      h2.section-title Flash message

      .library-item
        h3.library-title Success
        .library__demo
          .flash-message.flash-message--success.clj--flash-message--success
            p.flash-message__title.clj--flash-message--success-title Your password was saved successfully.

      .library-item
        h3.library-title Fail
        .library__demo
          .flash-message.flash-message--fail.clj--flash-message--fail
            p.flash-message__title.clj--flash-message--fail-title
              | There was a problem saving your password.
              //-= " "
              //-a(href="#") Try again

      .library-item
        h3.library-title Confirmation email sent flash
        .library__demo
          .flash-message.flash-message--success
            p.flash-message__title
              span(data-l8n="content:flash/confirm-email-sent-pre-email-address") !A confirmation email has been sent to:
              = " "
              span.clj--email-address !email@example.com
            p.flash-message__title.flash-message__title--not-bold(data-l8n="content:flash/confirm-email-sent-post-email-address") !Please follow the instructions to confirm your email address.
