extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = "Library"
  - pageTitleDataL8n = ""

block headerScripts

block content

  .middle-container

    h2 Loader icon
    i.fa.fa-cog.fa-spin