extends layout/layout

block vars
  - bodyClass = "func--profile-page"
  - pageTitle = "!Profile"
  - pageTitleDataL8n = "content:profile/title"

block headerScripts

block headerContent
  li.tabs__item.tabs__item--active: a.tabs__link(href="./profile", data-l8n="content:profile/profile-link") !Profile
  li.tabs__item: a.tabs__link.clj--sign-out__link.func--sign-out__link(href="./sign-out", data-l8n="content:profile/sign-out-link") !Sign out

block content
  .middle-container
    h1.page-title
      | Profile

    .clj--flash-message-container.func--flash-message-container
      .flash-message.flash-message--success
        p.flash-message__title(data-l8n="content:flash/password-changed") !Your password was saved successfully.

    .card-preview
      h2 Your Profile Card
      p Manage your shared details with allowed applications.
      .wrapper__card
        .card
          .card__row.card__row--bottom-border
            .card__photo.clj-wip
              //a.button.button--full-width.card__photo-button(href="#") Update
              .card__image
                +imageIncludeTag("temp-avatar-300x300.jpg", "", {alt:"Your profile picture"})
                //img(src="http://placekitten.com/g/302/302")
            .card__details
              .card__heading
                .card__name.clj--card--name Peter Thomas Cheshire
                .card__display-name.clj-wip PTC
              .card__description.clj-wip
                p Hoodie bespoke Tumblr, Pitchfork Etsy dreamcatcher cronut sartorial flexitarian vinyl synth PBR&B Neutra single-origin coffee.
          .card__row.clj-wip
            dl.card__items
              dt.card__items-key PGP KeyID
              dd.card__items-value E97A7A5D
              dt.card__items-key Fingerprint
              dd.card__items-value 1D42 0588 F6E7 4029 F312  9FAE 8378 C285 E97A 7A5F



    .authorised-apps
      h2.authorised-apps__title(aria-describedby="authorised-apps-lede", data-l8n="content:applications/title") !Applications
      p.lede#authorised-apps-lede(data-l8n="content:applications/intro") !Manage the applications that you've shared your Profile Card with.
      ul.app__list.clj--app__list.func--app__list
        +authorisedAppItem("Green Party")
        +authorisedAppItem("A really long name that will break this")
        +authorisedAppItem("Anotherapp")

    .settings
      h2(data-l8n="content:profile/settings-title") !Settings
      ul.settings__list
        li.settings__item: a.button.button--full-width.button--link.button--list-border.settings__link.clj--change-password__link.func--change-password__link(href="./change-password", data-l8n="content:profile/change-password-button") !Change password
        li.settings__item: a.button.button--full-width.button--link.button--list-border.settings__link.clj--delete-account__link.func--delete-account__link(href="./delete-account", data-l8n="content:profile/delete-button") !Delete account
