extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = ""
  - pageTitleDataL8n = ""

block headerScripts

mixin button(buttonClass, iconClass)
  button.button(type="submit", class=buttonClass)
    if iconClass != null
      i.fa.button__icon(class=iconClass)
    span.button__text
      block


mixin removeButton(buttonClass, iconClass)
  +button("button--remove", "fa-remove")
    block


mixin authorisedAppItem(appName)
  li.app__item
    .app__title #{appName}
    .app__remove
      form(action="/remove-app", method="post")
        // hidden inputs here
        +removeButton() Revoke card


block content

  .middle-container
    h1.page-title
      | Profile

    .card-preview
      h2 Your profile card
      a.button.a.func--sign-out__button(href="/sign-out")
        | !Log out
      p Manage the details your allowed apps can read.
      .wrapper__card
        .card
          .card__row.card__row--bottom-border
            .card__photo
              //a.button.button--full-width.card__photo-button(href="#") Update
              .card__image
                +imageIncludeTag("temp-avatar-300x300.jpg")
                //img(src="http://placekitten.com/g/302/302")
            .card__details
              .card__heading
                .card__name.clj--card--name Peter Thomas Cheshire
                .card__display-name PTC
              .card__description
                p Hoodie bespoke Tumblr, Pitchfork Etsy dreamcatcher cronut sartorial flexitarian vinyl synth PBR&B Neutra single-origin coffee.
          .card__row
            dl.card__items
              dt.card__items-key PGP KeyID
              dd.card__items-value E97A7A5D
              dt.card__items-key Fingerprint
              dd.card__items-value 1D42 0588 F6E7 4029 F312  9FAE 8378 C285 E97A 7A5F



    .authorised-apps
      h2.authorised-apps__title Applications
      p Manage the apps that have access to your profile card.
      ul.app__list
        +authorisedAppItem("Green Party")
        +authorisedAppItem("A really long name that will break this")
        +authorisedAppItem("Anotherapp")
