extends layout/layout

block vars
  - bodyClass = "func--profile-deleted-page"
  - pageTitle = "!Profile deleted"
  - pageTitleDataL8n = "content:profile-deleted/title"

block headerScripts

block content
  .three-fourths
    h1.page-title(data-l8n="content:profile-deleted/page-header")
      | !Your Profile has been deleted

    .card-demo
      .card-demo__deleted

    p
      span(data-l8n="content:profile-deleted/intro") !All your Profile Cards and data have been completely removed.

    a.button.button--primary.func--profile-deleted-next__button.clj--profile-deleted-next__button(href="./register", data-l8n="content:profile-deleted/action-button") !Register
