extends layout/layout

block vars
  - bodyClass = ""

block title
  | Profile

block headerScripts

block content

  .header

  .middle-container
    h1.page-title
      | Profile


    .authorised-apps
      p Manage the apps that have access to your profile card.
      ul.app__list
        li.app__item
          span.app__title Stubapp
          .app__remove
            a.button.button--pink(href="#") Revoke card
        li.app__item
          span.app__title Anotherapp
          .app__remove
            a.button.button--pink(href="#") Revoke card