extends layout/layout

block vars
  - bodyClass = ""

block title
  | Demo

block headerScripts

block content

  .header
    .header__logo
      span.visuallyhidden Stonecutter
    nav.tabs
      li.tabs__item: a.tabs__link(href="sign-in") Sign in
      li.tabs__item.tabs__item--on: a.tabs__link(href="/register") Register

  .middle-container
    h1.page-title Register an account
    form.register-form(action="authorise", method="post")
      .validation-summary(hidden)
        .validation-summary__title
        ul.validation-summary__list
          li.validation-summary__item(data-l8n="content:registration-form/confirm-password-invalid-validation-message") !Ensure your passwords match
      p.form-row.clj--registration-email
        label.form-row__label(for="email")
          span.form-row__title(data-l8n="content:registration-form/email-address") !Email address
          span.form-row__validation(data-l8n="content:registration-form/email-address-invalid-validation-message") !Enter a valid email address
        input.form-row__input.registration-email-input(type="email", id="email", name="email")
      p.form-row.clj--registration-password
        label.form-row__label(for="password")
          span.form-row__title(data-l8n="content:registration-form/password") !Password
          span.form-row__validation(data-l8n="content:registration-form/password-invalid-validation-message") !Enter a password
        input.form-row__input(type="password", id="password", name="password")
      p.form-row.clj--registration-confirm-password
        label.form-row__label(for="confirm-password")
          span.form-row__title(data-l8n="content:registration-form/confirm-password") !Confirm Password
          span.form-row__validation(data-l8n="content:registration-form/confirm-password-invalid-validation-message") !Passwords don't match
        input.form-row__input(type="password", id="confirm-password", name="confirm-password")
      button.button.button--full-width(type="submit") Create account

