extends layout/layout

block vars
  - bodyClass = "func--index-page"
  - pageTitle = "!Index"
  //- pageTitleDataL8n = ""

block headerScripts
  style.
    .demo {
      padding-top: 40px;
    }
    .demo-nav {
      margin-bottom: 40px;
      list-style: none;
    }
    .demo-item {
      display: block;
      margin: 0 0 15px 0;
      color: #007E84;
      font-size: 20px;
      text-decoration: none;
    }
    .demo-item:hover {
      text-decoration: underline;
    }
    .demo-item:last-child {
      margin-bottom: 0;
    }

block content

  .demo
    .middle-container

      h2 Main
      nav.demo-nav
        a.demo-item(href="./library") Library
        a.demo-item(href="./") Home
        a.demo-item(href="./change-password") Change password
        a.demo-item(href="./change-email") Change email address
        a.demo-item(href="./change-profile") Change profile details
        a.demo-item(href="./profile-created") Profile created
        a.demo-item(href="./profile-deleted") Profile deleted
        a.demo-item(href="./forgot-password") Forgot password
        a.demo-item(href="./forgot-password-confirmation") Forgot password confirmation
        a.demo-item(href="./reset-password") Reset password
        a.demo-item(href="./authorise") Authorise
        a.demo-item(href="./authorise-failure") Authorise failure
        a.demo-item(href="./profile") Profile
        a.demo-item(href="./unshare-profile-card") Unshare Profile Card No JS
        a.demo-item(href="./delete-account") Delete account No JS
        a.demo-item(href="./confirm-email-expired") Email confirmation expired
        a.demo-item(href="./confirm-email-resent") Confirm email resent

      h2 Emails
      nav.demo-nav
        a.demo-item(href="./email-demo") WIP html email

      h2 Admin
      nav.demo-nav
        a.demo-item(href="./admin/sign-in") Sign in
        a.demo-item(href="./admin/user-list") User list
        a.demo-item(href="./admin/apps") Add apps
        a.demo-item(href="./admin/invite") Invite user
