extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = "!Sign in"
  - pageTitleDataL8n = "content:sign-in-form/title"

block headerScripts

block headerContent
  nav.tabs
    li.tabs__item.tabs__item--on: a.tabs__link(href="sign-in") !Sign in
    li.tabs__item: a.tabs__link(href="register") !Register

block content
  .middle-container
    h1.page-title !Sign in
    form.login-form(action="authorise", method="")
      //-p.form-row.form-row--validation-error
      p.form-row
        label.form-row__label(for="email")
          span.form-row__title
            | !Email address
          span.form-row__validation
            | !Enter a valid email address
        input.form-row__input(type="email", id="email", name="email")
      p.form-row
        label.form-row__label(for="password")
          span.form-row__title
            | !Password
          //-span.form-row__label__validation
            | !Cannot be blank
        input.form-row__input(type="password", id="password", name="password")
      button.button.button--full-width(type="submit") !Sign in
