extends layout/layout

block vars
  - bodyClass = "func--unshare-profile-card-page"
  - pageTitle = "!Unshare your Profile Card"
  - pageTitleDataL8n = "content:unshare/title"

block content
  .middle-container
    +modal(null,'','clj-wip')
      +set('modalTitle')
        span(data-l8n="content:unshare/modal-unshare-title") Are you sure you want to unshare your Profile Card with
        = " "
        span.clj--app-name Green Party
        |?
      +set('modalBody')
        p(data-l8n="content:unshare/modal-unshare-lede")
          | If you unshare you will need to approve <span class="clj-app-name">Green Party</a> again to sign in.
      +set('modalButtons')
        .modal-buttons__primary
          form.unshare-card.clj-unshare-card-form(action="./profile",method="post")
            button.button.button--full-width(type="submit", data-l8n="content:unshare/modal-unshare-ok-button") !Unshare Profile Card
        .modal-buttons__secondary
          a.button.button--full-width.button--secondary(href="./profile", data-l8n="content:unshare/modal-unshare-cancel-button") !Cancel

block footerScripts
  if staticMode
    script.
      var form = document.getElementsByClassName('unshare-card')[0];
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        var formAction = form.getAttribute('action') + "?";
        window.location = formAction;
      });
