extends layout/layout

block vars
  - bodyClass = "func--admin-user-list-page"
  - pageTitle = "!User list"
  - pageTitleDataL8n = "content:admin-user-list/title"

block headerScripts

block headerContent
  a.header-nav__link.clj-wip(href="./user-list", data-l8n="content:admin/nav-users") !Users
  a.header-nav__link.clj-wip(href="./invite", data-l8n="content:admin/nav-invite-user") !Invite
  a.header-nav__link.clj--sign-out__link.func--sign-out__link(href="./sign-in", data-l8n="content:profile/sign-out-link") !Sign out


block content
  .single-column

    .clj--flash-message-container.func--flash-message-container
      .flash-message.flash-message--success
        p.flash-message__title.clj--flash-message-text !Success Flash Message.

    h1(data-l8n="content:admin-user-list/page-title") !User list
    form(action="#", method="post", role="search")
      p.search-row.clj-wip
        label.search-row__label(for="search")
          i.fa.fa-search.search-row__icon
          span.visuallyhidden(data-l8n="content:admin-user-list/label-search")
            | !Search
        input.search-row__input(type="text", id="search", name="search", placeholder="")

    ul.user-list.clj--user-list
      +userItem("Shadi Erlendr", "Shadi.Erlendr@gmail.com", false, true)
      +userItem("Horatius Vilhelm", "Horatius.Vilhelm@live.com", false, true)
      +userItem("Kepa Othello", "Kepa.Othello@amazon.com", true, true)
      +userItem("Kevyn Hildred", "Kevyn.Hildred@hotmail.com", false, false)
      +userItem("Wallis Fran", "Wallis.Fran@live.com", true, false)
      +userItem("Ricki Robbie", "Ricki.Robbie@gmail.com", true, false)
      +userItem("Lindsay Claude", "Lindsay.Claude@google.com", false, false)
      +userItem("Kenzie Mackenzie", "Kenzie.Mackenzie@email-address.com", false, false)
      +userItem("Kayden Andy", "Kayden.Andy@apple.com", true, false)
      +userItem("Rene Phoenix", "Rene.Phoenix@mobileme.com", false, false)
      +userItem("Odell Indigo", "Odell.Indigo@yahoo.com", true, false)
      +userItem("Sammy Laurie", "Sammy.Laurie@gmail.com", false, false)
      +userItem("Averill Bernie", "Averill.Bernie@gmail.com", false, false)
